<html>

<head>
    <title>
        Simple Blog App
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css">
    <style>
        form {
            margin: 10vh 40vh;
            border: 2px solid grey;
            border-radius: 5px;
            padding: 30px;
        }

        div.ui.secondary {
            background: #929c9c !important;
        }
    </style>
</head>

<body>
    <div class="ui secondary  menu container segment huge header">
        <a class="item ">
            Simple Blog App
            <i class="blogger b icon right"></i>
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
            <% if (login) { %>
                <a class="ui item" href="/logout">
                    <i class="sign out alternate icon"></i> Logout
                </a>
                <%} else {%>
                    <a class="ui item" href="/register">
                        <i class="user plus icon"></i> Sign Up
                    </a>
                    <a class="ui item" href="/login">
                        <i class="sign in alternate icon"></i> LogIn
                    </a>
                    <% } %>
        </div>
    </div>
    <div class="ui container">
        <% if(error && error.length > 0){ %>
            <div class="ui error message">
                <div class="header">
                <%= error %>
                </div>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>


            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>