<% include ./header%>
    <div class="ui container form">
        <form action="/login" method="POST">
            <div class="field">
                <label for="username">Username : </label>
                <input type="text" name="username" id="username">
            </div>
            <div class="field">
                <label for="password">Password : </label>
                <input type="password" name="password" id="password">
            </div>
            <div class="field">
                <button type="submit" class="button ui left">submit</button>
                <a href="/" class=" ui right floated button">Cancel</a>
            </div>
        </form>
    </div>
    </body>

    </html>